<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" >
            <section name="Mmfm.Properties.Settings" type="System.Configuration.ClientSettingsSection, System.Configuration.ConfigurationManager, Version=5.0.0.0, Culture=neutral, PublicKeyToken=cc7b13ffcd2ddd51" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Mmfm.Properties.Settings>
            <setting name="Settings_json" serializeAs="String">
                <value />
            </setting>
            <setting name="WindowLocation" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="WindowSize" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GridSize1" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="GridSize2" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </Mmfm.Properties.Settings>
    </userSettings>
</configuration>